In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('BOS211.csv', sep =';', low_memory = False)

In [49]:
df['05'].value_counts()

#    128651
Z     40303
Name: 05, dtype: int64

In [50]:
df.columns

Index(['time', '05', '06', '07', '09', '10', '11', '24', '26', '28', '35',
       '36', '37', '38', '95', '051', '052', '053', '054', '055', '056', '057',
       '058', '061', '062', '063', '064', '071', '072', '073', '074', '091',
       '092', '093', '094', '101', '102', '103', '104', '111', '112', '113',
       '114', '115', '116', '117', '118', '241', 'K24', '261', 'K26', '281',
       '282', '283', 'K28', 'K351', 'K352951', 'K361', 'K362', 'K358', 'K369',
       'K371', 'K372', 'K381', 'K382', 'K378', 'K389', 'K952', 'F059', 'F119',
       'F0510', 'F1110'],
      dtype='object')

In [85]:
df['09'].value_counts()

#    116072
Z     27142
Name: 09, dtype: int64

In [76]:
df

,time,05,06,07,09,10,11,24,26,28,...,K372,K381,K382,K378,K389,K952,F059,F119,F0510,F1110
0,02-11-2020 00:00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
1,02-11-2020 00:00:00.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
2,02-11-2020 00:00:00.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
3,02-11-2020 00:00:00.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
4,02-11-2020 00:00:00.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863995,02-11-2020 23:59:59.5,NaN,NaN,NaN,NaN,#,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
863996,02-11-2020 23:59:59.6,NaN,NaN,NaN,NaN,#,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
863997,02-11-2020 23:59:59.7,NaN,NaN,NaN,NaN,#,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
863998,02-11-2020 23:59:59.8,NaN,NaN,NaN,NaN,Z,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN
863999,02-11-2020 23:59:59.9,NaN,NaN,NaN,NaN,Z,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,|,|,|,|,NaN

In [33]:
df2 = pd.read_csv('BOS211-7919015E-VT450903_2021-12-13_2021-12-13_SIGNAL_GROUP-unfiltered.csv', sep = ';')

In [34]:
df2

,TLC_ID,TLC_NAME,SG_ID,SG_NAME,TIMESTAMP,DATA_AVAILABILITY,CYCLES_ALL_CYCLES_COUNT,CYCLES_ONLY_WAITING_COUNT,CYCLES_SATURATED_COUNT,CYCLE_TIME_COUNT,...,RED_TOTAL,WAIT_SCORE_ALL_CYCLES_COUNT,WAIT_SCORE_ALL_CYCLES_MAX,WAIT_SCORE_ALL_CYCLES_SUM,WAIT_TIME_ALL_CYCLES_COUNT,WAIT_TIME_ALL_CYCLES_MAX,WAIT_TIME_ALL_CYCLES_SUM,WAIT_TIME_ONLY_WAITING_COUNT,WAIT_TIME_ONLY_WAITING_MAX,WAIT_TIME_ONLY_WAITING_SUM
0,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:00,100,10,0,0,10,...,1,,,,6,14,45,0,0,0
1,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:15,100,4,0,0,4,...,0,,,,0,0,0,0,0,0
2,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:30,100,8,0,0,8,...,1,,,,6,15,47,0,0,0
3,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:45,100,6,0,0,6,...,0,,,,3,7,15,0,0,0
4,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 01:00,100,2,0,0,2,...,0,,,,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,7919015E,BOS211-7919015E-VT450903,14,95,2021-12-13 22:45,100,,,,0,...,,,,,,,,,,
1340,7919015E,BOS211-7919015E-VT450903,14,95,2021-12-13 23:00,100,,,,0,...,,,,,,,,,,
1341,7919015E,BOS211-7919015E-VT450903,14,95,2021-12-13 23:15,100,,,,0,...,,,,,,,,,,
1342,7919015E,BOS211-7919015E-VT450903,14,95,2021-12-13 23:30,100,,,,0,...,,,,,,,,,,
1343,7919015E,BOS211-7919015E-VT450903,14,95,2021-12-13 23:45,100,,,,0,...,,,,,,,,,,

In [15]:
df3 = pd.read_csv('BOS211-7919015E-VT450903_2021-12-13_2021-12-13_SIGNAL_GROUP-filtered.csv', sep = ';')

In [19]:
df2.head()

,TLC_ID,TLC_NAME,SG_ID,SG_NAME,TIMESTAMP,DATA_AVAILABILITY,CYCLES_ALL_CYCLES_COUNT,CYCLES_ONLY_WAITING_COUNT,CYCLES_SATURATED_COUNT,CYCLE_TIME_COUNT,...,RED_TOTAL,WAIT_SCORE_ALL_CYCLES_COUNT,WAIT_SCORE_ALL_CYCLES_MAX,WAIT_SCORE_ALL_CYCLES_SUM,WAIT_TIME_ALL_CYCLES_COUNT,WAIT_TIME_ALL_CYCLES_MAX,WAIT_TIME_ALL_CYCLES_SUM,WAIT_TIME_ONLY_WAITING_COUNT,WAIT_TIME_ONLY_WAITING_MAX,WAIT_TIME_ONLY_WAITING_SUM
0,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:00,100,10,0,0,10,...,1,,,,6,14,45,0,0,0
1,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:15,100,4,0,0,4,...,0,,,,0,0,0,0,0,0
2,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:30,100,8,0,0,8,...,1,,,,6,15,47,0,0,0
3,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 00:45,100,6,0,0,6,...,0,,,,3,7,15,0,0,0
4,7919015E,BOS211-7919015E-VT450903,1,5,2021-12-13 01:00,100,2,0,0,2,...,0,,,,0,0,0,0,0,0

In [29]:
df4 = pd.read_xml('79190154_BOS210_ITF_COMPLETE.xml')

AttributeError: module 'pandas' has no attribute 'read_xml'

In [27]:
df4

                 <?xml version='1.0' encoding='UTF-8'?>
0     <topology xmlns:xsi="http://www.w3.org/2001/XM...
1                  <formatVersion>2.1.a</formatVersion>
2                                             <version>
3                             <versionID>18</versionID>
4            <timestamp>2018-10-05T10:34:16</timestamp>
...                                                 ...
6052                                     </controlUnit>
6053                                    </controlUnits>
6054                                      </controller>
6055                                     </controlData>
6056                                        </topology>

[6057 rows x 1 columns]

In [78]:
import untangle

In [82]:
obj = untangle.parse('79190154_BOS210_ITF_COMPLETE.xml')

In [84]:
obj.A

AttributeError: 'None' has no attribute 'A'